.choices {
    text-align: center;
    font-size: 2em;
    margin-top: 30px;
}

.winner {
    text-align: center;
    font-size: 2em;
    margin-top: 30px;
}

.score {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 30px;
}
